@model MVCDemo.Models.book

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>book</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.author)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.author)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.format)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.format)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
